/.config/tmux/plugins
.DS_Store
__pycache__
.mypy_cache
local_tests
fish_variables
/.config/AWS*
tmux-*
iterm2
htop
configstore
*.log
/.config/systemd
btop.conf
/.config/lazygit/state.yml

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
